body {
    font-family: sans-serif;
    background-color: #b07cf7;
    color: #fff;
  }
  
  p {
    margin: 0px;
}

* {
    box-sizing: border-box;
  }
  
 .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
 .heading {
    margin-top: 50px;
    text-align: center;
}

.heading-title {
      margin: 0px;
      font-size: 90px;
}

.heading-description {
    font-size: 17px;
    margin-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 50px;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
}
  
.grid-item {
    width: calc(100% / 3);
    height: 50vh;
}
  
.card {
    position: relative;
    display: flex;
    margin: 10px;
    height: 100%;
}
  
.card-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%;
    padding: 5%;
    overflow: hidden;
}



.card-date {
    border-radius: 5px;
    background-color: rgb(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;  
    left: 30px;
    top: 30px;
    text-align: center;
    transform: translate(-75px);
    transition: 0.2s;
    opacity: 0;
}

.content:hover .card-date{
    transform: translate(0px, 0px);
    opacity: 1;
}  

.card-date-day {
      font-size: 32px;
      font-weight: 700;
}

.card-date-month {
    font-size: 20px;
    font-weight: 700;
    margin-top: -5px;
}
  

.card-author {
    left: 5%;
    top: 85%;
    font-size: 13px;
    transform: translate(-350px, 150px);
    opacity: 0;
    transition: 0.2s;
}

.content:hover .card-author{
    transform: translate(0px, 0px);
    opacity: 1;
}  

.card-title {
    left: 5%;
    top: 70%;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20%;
    margin-top: auto;
    transform: translate(-350px, 150px);
    opacity: 0;
    transition: 0.2s;
}

.content:hover .card-title{
    transform: translate(0px, 0px);
    opacity: 1;
}  

.gradient {
    background: linear-gradient(180deg, rgba(166,166,166,0) 0%, rgba(0,0,0,0.7567401960784313) 60%);
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    opacity: 0;
}

.card:hover .gradient{
    opacity: 1;
}

.footer {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;  
}

.button {
    background-color: red;
    min-width: 200px;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }

.button:hover {
    opacity: 0.5;
  }

@media screen  and (max-width: 600px){
    .grid-item {
        width: 100%;
    }
    .button
    {
        min-width: 100%;
    }
    .heading-description{
       padding: 5px;
}
}